<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" class="p-2">
			<ion-button (click)="logout()">
				<ion-icon slot="icon-only" name="log-out"></ion-icon>
			</ion-button>
		</ion-buttons>
    <ion-title class="text-center display-6 py-2 text-light fw-bolder"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="d-flex justify-content-center align-items-center flex-column w-100 container-fluid">
    <p class="text-center display-5 my-4 w-100 border-bottom border-secondary pb-2">Listado de Equipos de Fútbol</p>
    <div class="d-flex justify-content-end align-items-center w-100 mb-3">
      <ion-button (click)="createSoccerTeam()"><ion-icon name="add-circle-outline" class="mx-2"></ion-icon>Agregar</ion-button>
    </div>
    <div class="container-fluid scroll">
      <table class="table table-hover">
        <thead class="table-secondary">
          <tr>
            <th>Nombre</th>
            <th>Pais</th>
            <th>Nombre del Estadio</th>
            <th>Número de titulos</th>
            <th>Año de Fundación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let soccerTeam of soccerTeams">
            <td>{{ soccerTeam.name }}</td>
            <td>{{ soccerTeam.country }}</td>
            <td>{{ soccerTeam.name_stadium }}</td>
            <td>{{ soccerTeam.tittles }}</td>
            <td>{{ soccerTeam.year_fundation }}</td>
            <td>
              <ion-button (click)="updateSoccerTeam(soccerTeam)" class="m-1" color="success"><ion-icon name="pencil-outline"></ion-icon></ion-button>
              <ion-button (click)="deleteSoccerTeam(soccerTeam.id)" class="m-1" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
